#wrap {text-align:center; padding:100px;}
#puzzle-table {display:inline-block; overflow:hidden; position:relative;}
#puzzle-table .cols_wrap {width:100%; height:80px; overflow:hidden;}
#puzzle-table .colsBtn {width:80px; height:80px; line-height:80px; text-align:center; border:1px solid #a4a4a4; cursor:pointer; box-sizing:border-box; background:#fff;}
