@charset "UTF-8";

/****************************************************************
Last Updated : 2018-04-06
Author       : amy
Version      : 2.0
****************************************************************/

/* reset css */
html, body, ul, ol, dl, li, dt, dd, form, fieldset, legend {margin:0; padding:0; outline:0; border:0; background:transparent;}
h1, h2, h3, h4, h5, h6, p {margin:0; font-weight:normal;}
fieldset, img {border:0; vertical-align:top;}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed;}
caption, label, legend {visibility:hidden; width:1px; height:1px; margin:0; padding:0; background:none; font-size:0; line-height:0; text-indent:-9999em}
input, textarea, select {font-size:100%; line-height:normal; font-family:'나눔고딕', 'NanumGothic', ng, sans-serif; margin:0; padding:0; vertical-align:middle;}
ul, ol, dl, li {list-style:none;}
abbr, acronym {border-bottom: .1em dotted; cursor:help;}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {display:block;}
a {color:inherit; text-decoration:none}
button {background:none; outline:0; border:0; margin:0; padding:0; cursor:pointer; font-family:'나눔고딕', 'NanumGothic', ng, sans-serif; }

/* Mobile Reset */
*{-webkit-text-size-adjust:none}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="image"], input[type="tel"], input[type="number"], textarea{-webkit-appearance:none; -webkit-border-radius:0}
select {-webkit-border-radius:0;}

/* rayout css */
html,body {width:100%; font-size:14px; line-height:normal; letter-spacing:-0.5px; font-family:'나눔고딕', 'NanumGothic', ng, 'NanumGothicWeb', sans-serif; color:#333333;}

/* common CSS */
.text-hidden {overflow:hidden !important; clip:rect(1px, 1px, 1px, 1px) !important; position:absolute !important; width:1px !important; height:1px !important;}