@charset "UTF-8";

/****************************************************************
Last Updated : 2018-07-12
Author       : amy
Version      : 2.0
****************************************************************/

/* íƒ­ */
#wrap {max-width:1200px; margin:0 auto; padding-top:20px;}
.tab_area {width:100%; overflow:hidden; margin-bottom:50px;}
.tab_area .tab_area_btn01 {width:100%; height:50px; overflow:hidden; display:table; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd; box-sizing:border-box;}
.tab_area .tab_area_btn01 button {float:left; width:25%; text-align:center; border-right:1px solid #ddd; box-sizing:border-box; line-height:50px; cursor:pointer;}
.tab_area .tab_area_btn01 button.on {background:#000; color:#fff;}

.tab_area .tab_area_btn02 {width:100%; height:50px; overflow:hidden; display:table; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd; box-sizing:border-box;}
.tab_area .tab_area_btn02 button {float:left; width:25%; text-align:center; border-right:1px solid #ddd; box-sizing:border-box; line-height:50px; cursor:pointer;}
.tab_area .tab_area_btn02 button.on {background:#ffcccc;}

.tab_area .tab_area_btn {width:100%; height:50px; overflow:hidden; display:table; border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd; box-sizing:border-box;}
.tab_area .tab_area_btn button {float:left; width:25%; text-align:center; border-right:1px solid #ddd; box-sizing:border-box; line-height:50px; cursor:pointer;}
.tab_area .tab_area_btn button.on {background:#000; color:#fff;}

.tab_area .tab_cont {display:none; width:100%; border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:1px solid #ddd; height:200px; box-sizing:border-box; padding:20px; box-sizing:border-box;}

.tabArea{width:1200px;}
.btnWrap {display:block; overflow:hidden;border-top:1px solid #ddd; border-bottom:1px solid #ddd; border-left:1px solid #ddd; box-sizing:border-box;}
.btnWrap button {float:left; width:33.33%;text-align:center; border-right:1px solid #ddd; box-sizing:border-box; height:50px; line-height:50px;}
.btnWrap button.on {background:#ddd;}
.tabArea {width:100%; border-right:1px solid #ddd; border-left:1px solid #ddd; border-bottom:1px solid #ddd; height:200px; box-sizing:border-box; padding:20px; box-sizing:border-box;}


